.ams-footer .blank{
  height 100%
  width 100%
  display block
}
.ams-footer .wrap-content{
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding:10px;
  height 100%
  background-color: #e5e5e5;
  font-size: 13px;
}
@media(max-width: 767px){
  .ams-footer .blank{
    display none
  }
  .ams-footer{
    display none
  }
}

  
